.before {
  height: 100%;
  position: relative;
  @apply bg-secondary-500;
}
.text {
  @apply text-base lg:text-xl ml-2 lg:ml-6;
}
.text::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  @apply bg-secondary-500;
}
